@page "/update-user"
@inject NavigationManager NavigationManager
@using Mint_StoresApp.DataControllers
@using Mint_StoresApp.Models
@rendermode InteractiveServer
<PageTitle>Update user</PageTitle>
<h3>Оновити користувача</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (showSuccessMessage)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span>Успішно оновлено!</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            else if (showErrorMessage)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span>Виникла помилка під час оновлення.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            <EditForm Model="@user" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="lastName" class="form-label">Прізвище</label>
                    <InputText id="lastName" @bind-Value="user.LastName" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Ім'я</label>
                    <InputText id="firstName" @bind-Value="user.FirstName" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="parentName" class="form-label">По-батькові</label>
                    <InputText id="parentName" @bind-Value="user.ParentName" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Дата народження</label>
                    <InputDate id="birthDate" @bind-Value="user.BirthDate" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="isActive" class="form-label">Чи працює?</label>
                    <InputCheckbox id="isActive" @bind-Value="user.IsActive" class="form-check-input" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон</label>
                    <InputText id="phone" @bind-Value="user.Phone" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Пошта</label>
                    <InputText id="email" @bind-Value="user.Email" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Змінити</button>
                    <button type="button" class="btn btn-danger" @onclick="Cancel">Скасувати</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<style>
    .alert-dismissible .btn-close {
        font-size: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 0.5rem;
    }
</style>

@code {
    User user = new();
    UsersController dataController = new();
    bool showSuccessMessage = false;
    bool showErrorMessage = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var uri = new Uri(NavigationManager.Uri);
        var queryString = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var json = queryString["json"];

        if (!string.IsNullOrEmpty(json))
        {
            var result = System.Text.Json.JsonSerializer.Deserialize<User>(Uri.UnescapeDataString(json));
            if (result != null)
                user = result;
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/users");
    }

    async Task Submit()
    {
        var result = await dataController.UpdateUser(user);
        if (result)
            showSuccessMessage = true;
        else
            showErrorMessage = true;
    }

    void CloseMessage()
    {
        showSuccessMessage = false;
        showErrorMessage = false;
    }
}

