@page "/add-role"
@inject NavigationManager NavigationManager
@using Mint_StoresApp.DataControllers
@using Mint_StoresApp.Models
@rendermode InteractiveServer
<PageTitle>Add role</PageTitle>
<h3>Додати роль</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (showSuccessMessage)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span>Роль успішно додано!</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            else if (showErrorMessage)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span>Виникла помилка під час додавання ролі.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            <EditForm Model="@role" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="roleName" class="form-label">Назва ролі</label>
                    <InputText id="roleName" @bind-Value="role.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Додати</button>
                    <button type="button" class="btn btn-danger" @onclick="Cancel">Скасувати</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<style>
    .alert-dismissible .btn-close {
        font-size: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 0.5rem;
    }
</style>

@code {
    Role role = new();
    RolesController dataController = new();
    bool showSuccessMessage = false;
    bool showErrorMessage = false;
    void Cancel()
    {
        NavigationManager.NavigateTo("/roles");
    }

    async Task Submit()
    {
        var result = await dataController.InsertRole(role);
        if (result)
            showSuccessMessage = true;
        else
            showErrorMessage = true;
        role = new();
    }

    void CloseMessage()
    {
        showSuccessMessage = false;
        showErrorMessage = false;
    }
}

