@page "/add-city"
@inject NavigationManager NavigationManager
@using Mint_StoresApp.DataControllers
@using Mint_StoresApp.Models
@rendermode InteractiveServer
<PageTitle>Add city</PageTitle>
<h3>Додати місто</h3>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (showSuccessMessage)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span>Місто успішно додано!</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            else if (showErrorMessage)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span>Виникла помилка під час додавання міста.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            <EditForm Model="@city" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="cityName" class="form-label">Назва міста</label>
                    <InputText id="cityName" @bind-Value="city.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Додати</button>
                    <button type="button" class="btn btn-danger" @onclick="Cancel">Скасувати</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<style>
    .alert-dismissible .btn-close {
            font-size: 0.5rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 0.5rem;
        }
</style>

@code {
    City city = new();
    CitiesController dataController = new();
    bool showSuccessMessage = false;
    bool showErrorMessage = false;
    void Cancel()
    {
        NavigationManager.NavigateTo("/cities");
    }

    async Task Submit()
    {
        var result = await dataController.InsertCity(city);
        if (result)
            showSuccessMessage = true;
        else
            showErrorMessage = true;
        city = new();
    }

    void CloseMessage()
    {
        showSuccessMessage = false;
        showErrorMessage = false;
    }
}

