<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mint_StoresApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Користувачі
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cities">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Міста
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cities-radzen">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Міста (Radzen)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assortment">
                <span class="bi bi-boxes-nav-menu" aria-hidden="true"></span> Асортимент
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> Категорії
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employment">
                <span class="bi bi-hammer-nav-menu" aria-hidden="true"></span> Працевлаштування
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="units">
                <span class="bi bi-1-circle-fill-nav-menu" aria-hidden="true"></span> Одиниці виміру
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-basket-fill-nav-menu" aria-hidden="true"></span> Продукти
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roles">
                <span class="bi bi-person-vcard-fill-nav-menu" aria-hidden="true"></span> Ролі
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stores">
                <span class="bi bi-shop-nav-menu" aria-hidden="true"></span> Магазини
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groups">
                <span class="bi bi-coin-nav-menu" aria-hidden="true"></span> Податкові групи
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usersroles">
                <span class="bi bi-person-fill-gear-nav-menu" aria-hidden="true"></span> Призначення ролей
            </NavLink>
        </div>
    </nav>
</div>

