@page "/update-unit"
@inject NavigationManager NavigationManager
@using Mint_StoresApp.DataControllers
@using Mint_StoresApp.Models
@rendermode InteractiveServer
<PageTitle>Update unit</PageTitle>
<h3>Оновити одиницю вимірювання</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (showSuccessMessage)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span>Успішно оновлено!</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            else if (showErrorMessage)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span>Виникла помилка під час оновлення.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CloseMessage"></button>
                </div>
            }
            <EditForm Model="@unit" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="unitName" class="form-label">Назва одиниці</label>
                    <InputText id="unitName" @bind-Value="unit.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Змінити</button>
                    <button type="button" class="btn btn-danger" @onclick="Cancel">Скасувати</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<style>
    .alert-dismissible .btn-close {
        font-size: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 0.5rem;
    }
</style>

@code {

    MeasurementUnit unit = new();
    UnitsController dataController = new();
    bool showSuccessMessage = false;
    bool showErrorMessage = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var uri = new Uri(NavigationManager.Uri);
        var queryString = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var json = queryString["json"];

        if (!string.IsNullOrEmpty(json))
        {
            var result = System.Text.Json.JsonSerializer.Deserialize<MeasurementUnit>(Uri.UnescapeDataString(json));
            if (result != null)
                unit = result;
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/units");
    }

    async Task Submit()
    {
        var result = await dataController.UpdateUnit(unit);
        if (result)
            showSuccessMessage = true;
        else
            showErrorMessage = true;
    }

    void CloseMessage()
    {
        showSuccessMessage = false;
        showErrorMessage = false;
    }
}

